*{
    
    padding:0;
    margin:0;
}



body
{
    background: radial-gradient(circle at 10% 20%, rgb(0, 52, 89) 0%, rgb(0, 168, 232) 90%);
    width:100%;
    height:100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.copy
{
    cursor:pointer;
}









